body {
	margin-top: 50px;
	background-color: #eee
}
.jumbotron {
	height: 400px;
	background-image: url(../img/daniele-buso-unsplash.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 0px -150px;
	color: plum;
	overflow: hidden;
}
.jumbotron h1 {
	text-shadow: 1px 1px 10px rgba(0,0,0,.9);
}
.jumbotron p {
	text-shadow: 1px 1px 1px rgba(0,0,0,.9);
}
.jumbotron img {
	width: 200px;
	height: 200px;
	border: 4px solid lightgoldenrodyellow;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5)
}
.pKiri, .pKanan {
	opacity: 0;
	transform: translate(-100px, 0) rotate(15deg);
	transition: 1s;
}
.pKanan {
	transform: translate(100px, 0) rotate(-15deg);
}
.pKiri.muncul, .pKanan.muncul {
	opacity: 1;
	transform: translate(0,0);
}
.gallery {
	background-color: #ddd
}

.gallery .thumbnail {
	opacity: 0;
	transform: translate(0, -100px);
	transition: 3s;
}

.gallery .muncul {
	opacity: 1;
	transform: translate(0,0);
}

.gallery img {
	width: 350px;
	height: 230px;
}

section {
	min-height: 600px;
}

hr {
	width: 250px;
	border-top: 3px solid #999
}

.row {
	padding-bottom: 20px;
}

footer {
	width: 100%;
	height: 130px;
	background-color: #333;
	padding: 30px;
	font-size: 0.9em;
}

footer .i1 {
	color: salmon;
}

footer p {
	color: #aaa
}